<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/angular-growl/build/angular-growl.min.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
<body ng-app="community">

<div ng-controller="MainCtrl">
  <div growl></div>
  <div ng-view=""></div>
</div>

<!-- Stylez -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Framework libs -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/angular-blocks/dist/angular-blocks.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-growl/build/angular-growl.min.js"></script>
<script src="/bower_components/angular-md5/angular-md5.min.js"></script>
<!-- <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script> -->

<script src="/js/app.js"></script>

<!-- Angular Controllers -->
<script src="/js/mainCtrl.js"></script>
<script src="/js/feedCtrl.js"></script>
<script src="/js/loginCtrl.js"></script>
<script src="/js/signupCtrl.js"></script>
<script src="/js/profileCtrl.js"></script>
<script src="/js/visualizationCtrl.js"></script>
<script src="/js/searchCtrl.js"></script>

<!-- Angular Directives -->
<script src="/js/activatableDir.js"></script>
<script src="/js/tooltipDir.js"></script>
<script src="/js/popoverDir.js"></script>
<script src="/js/formatDateDir.js"></script><script src="/bower_components/momentjs/min/moment.min.js"></script>
<script src="/js/togglesDir.js"></script>
<script src="/js/feedItemDir.js"></script>

<!-- Angular Services -->
<script src="/js/authService.js"></script>
<script src="/js/userService.js"></script>
<script src="/js/visualizationService.js"></script>
<script src="/js/activityService.js"></script>

<!-- Angular Filters -->
<script src="/js/mapToArray.js"></script>

</body>
</html>